// Colors
$sda-pink: #F7CFD0;
$sda-blue: #0099B6;
$sda-orange: #FC906D;
$sda-white: #FFFFFF;
$sda-black: #292929;
$sda-light-blue: #0099b6;
$sda-dark-blue: #006578;
$sda-guage-black: #02171F;
$sda-guage-logo: #0C2F38;

$onsite-white: #FFFFFF;
$onsite-black: #363637;
$onsite-brown: #C5976D;
$onsite-gold: #D1AD6D;
$onsite-bg-color: #ECE6DA;
$onsite-gray: #79715F;

$mh-gray: #F2EBE7;
$mh-gray2: #979797;
$mh-black: #353536;
$mh-purple: #6C5288;
$mh-white: #ffffff;
$mh-white2: #EFF2F7;
$mh-yellow: #e2b584;
$mh-green: #aad6a2;
$mh-yellow2: #deb285;
$mh-yellow3: #FBF2E7;

$ts-red: #9D282C;
$ts-white: #FEFEFE;
$ts-black: #1A1718;
$ts-black2: #2f2e2e;
$ts-gray: #727377;

$ts-red: #00528c;
$ts-red: #AEABAE;

$trn-gold: #ffbe98;

// Type Colors
$ts-type-1-color: rgb(25,24,24);
$ts-type-2-color: rgb(57,57,57);
$ts-type-3-color: rgb(79,80,79);
$ts-type-4-color: rgb(107,108,107);
$ts-type-5-color: rgb(241,203,173);
$ts-type-6-color: rgb(244,188,147);
$ts-type-7-color: rgb(239,164,123);
$ts-type-8-color: rgb(236,151,98);
$ts-type-9-color: rgb(151,102,75);

// Colors
$html-bg-color: $ts-white;
$font-color: $ts-black;
$font-color-light: $ts-white;
$btn-primary-bg-color: $ts-red;
$btn-primary-text-color: $ts-white;
$btn-secondary-bg-color: $ts-black;

// Fonts
$mh-heading-font-family: 'Fira Sans', sans-serif;
$mh-body-font-family: 'Open Sans', sans-serif;
$mh-heading-font-weight: 700;
$mh-body-font-weight: 400;

$heading-font: $mh-heading-font-family;
$body-font: $mh-body-font-family;

$heading-font-weight: $mh-heading-font-weight;
$body-font-weight: $mh-body-font-weight;

// Chatbot
$message-bg-color: $ts-white;
$message-responder-bg-color: $ts-white;
$likert-selected-text-color: $ts-white;
$likert-selected-bg-color: $ts-red;
$opt-in-bg-color: $ts-black;

// Results
$category-heading-color: $mh-yellow;

$graph-bg-left: $mh-gray;
$graph-bg-center: $mh-yellow;
$graph-bg-right: $mh-green;
$graph-arrow: $mh-black;
$graph-active-color: $mh-yellow;

$boxed-callout-bg-color: $mh-yellow;
$boxed-callout-header-weight: 600;

// Progress bars
$progress-bar-bg-color: #AF1E23;
