// Variables
@import 'global_variables';
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Base
@import 'base';

// Custom
@import 'custom';


#login {
    .login-img {
        img {
            max-width: 250px;
            margin: 0 auto;
            display: block;
        }
    }
}

#admin {
    .card,
    .alert.alert-success.alert-dismissible.mb-4 {
        max-width: 600px;
        margin: 0 auto;
    }
}

#errors {
    .alert-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.alert-dismissible .close {
    padding: 0.5rem 1.25rem;
}
